In [ ]:
import pandas as pd
import sqlite3

# Load CSV
df = pd.read_csv('/content/ipl_dataset.csv')  # path of your dataset

# Create SQLite DB file
conn = sqlite3.connect('/content/ipl_data.db')  # This will create a .db file
df.to_sql('ipl', conn, index=False, if_exists='replace')

conn.close()
print("CSV converted to DB successfully!")

CSV converted to DB successfully!

In [ ]:
ipl_data = pd.read_csv("ipl_dataset.csv")
ipl_data.head(5)

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals

In [ ]:
conn = sqlite3.connect('/content/ipl_data.db')

### 1 . Find top 5 batsman in ipl

In [ ]:
q="""
Write query here.
"""
df_result = pd.read_sql_query(q, conn)
print(df_result)

      batter  runs
0    V Kohli  6634
1   S Dhawan  6244
2  DA Warner  5883
3  RG Sharma  5881
4   SK Raina  5536

### 2. Find 2nd highest 6 hitter in IPL

In [ ]:
q="""
Write query here.
"""
df_result = pd.read_sql_query(q, conn)
print(df_result)

           batter  no_of_sixes
0  AB de Villiers          253

### 3. Find Virat Kohli's performance

In [ ]:
q="""
Write query here.
"""
df_result = pd.read_sql_query(q, conn)
print(df_result)

                   BattingTeam  SUM(batsman_run)
0  Royal Challengers Bangalore              6634

4. Find top 10 batsman in the order of highest runs scored in individual match

In [ ]:
q="""
Write query here.
"""
result = pd.read_sql_query(q,conn)
print(result)

        ID          batter  runs
0   598027        CH Gayle   175
1   335982     BB McCullum   158
2  1304112       Q de Kock   140
3   829795  AB de Villiers   133
4  1216510        KL Rahul   132
5   980987  AB de Villiers   129
6   548372        CH Gayle   128
7  1136602         RR Pant   128
8   419137         M Vijay   127
9  1082627       DA Warner   126

5. Find top 10 batsman in the order of highest number of centuries

In [ ]:
q="""
Write query here.
"""
result = pd.read_sql_query(q,conn)
print(result)